@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>About - Payment and Notifications</title>
</head>
<body>
    <h1>About Us</h1>
    <p>This is the about page for the Payment and Notifications service.</p>
</body>
</html>